<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
	<meta charset="utf-8" />
    
    


</head>
<body class="main" ng-app="myApp">
    <div class="container-fluid" ng-controller="signupController">
        <div class="paddingT50">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">

                    <div class="form_Main">
                        <div class="form-group">
                            <label class="label1" for="email">Email address</label>
                            <input ng-model="registration.Email" id="email"
                                   type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="label1" for="password">Password</label>
                            <input ng-model="registration.Password" id="password"
                                   type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="label1" for="confirm_password">
                                Confirm
                                password
                            </label>
                            <input ng-model="registration.ConfirmPassword"
                                   id="confirm_password" type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div style="padding-top:10px;">
                                <input ng-click="signUp()"
                                       type="button" class="btn btn-block btn-success"
                                       value="Registered" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="JS/angular.js"></script>

    <script src="../Scripts/angular-route.js"></script>
    <!--<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>-->
    <script src="JS/signup.js"></script>

    
</body>
</html>
